extends layout.pug

block content
  header
  h1 Books
  p
    
    form(method='get' action='/books')
      input(type='search' placeholder='search' name='search' value=search)
      input(type='submit' value='search')
  p
    a.button(href='/books/new') Create New Book  
    
  p
    if (numberOfResults > 0) 
      h4 We found #{numberOfResults} book(s)
    else
      h4 No books found!
  p
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td= book.author
          td= book.genre
          td= book.year


  p
  
  each button in paginationButtons
    if button.disabled
      a.button(href=`/books?page=${button.destination}&search=${search}&resultsPerPage=${pagination}` class='disabled' onclick='return false;')
        | #{button.display}
    else
      a.button(href=`/books?page=${button.destination}&search=${search}&resultsPerPage=${pagination}`)
        | #{button.display}

    

  p
    form#resultsPerPageForm(method='get' action='/books')
      label(for='resultsPerPage') Results per page:
      select(name='resultsPerPage' id='resultsPerPage' onchange='updateResultsPerPage()')
        option(value='5', selected=(pagination==5)) 5
        option(value='10', selected=(pagination==10)) 10
        option(value='25', selected=(pagination==25)) 25



  script.
    function updateResultsPerPage() {
      // 1) Grab the <form> and the <select> elements
      var form = document.getElementById('resultsPerPageForm');
      var select = document.getElementById('resultsPerPage');

      // 2) Get the user's choice from the dropdown
      var selectedValue = select.options[select.selectedIndex].value;

      // 3) Read the current search params from the URL, e.g. "?page=2&search=the"
      var params = new URLSearchParams(window.location.search);

      // 4) Set (or replace) the "resultsPerPage" parameter with the new value
      params.set('resultsPerPage', selectedValue);

      // (Optional) If you want to reset the page to 1 whenever the user changes the dropdown
      params.set('page', 1);

      // 5) Build the final URL (pathname + query string)
      //    e.g. "/books?page=2&search=the&resultsPerPage=10"
      var newUrl = window.location.pathname + '?' + params.toString();

      // 6) Set the form's action to that URL, then submit
      form.action = newUrl;
      form.submit();
    }



